@font-face {
    font-family: "Hello Christmas";
    src: url("../fonts/Hello-Christmas-trial.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Hello Christmas", sans-serif;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
